<%= render 'shared/nav' %>
<div class="container-fluid">
    <%= render 'shared/sidenavbar'%>
<div class="row">
<div class="col-lg-8">
    <h1> Informacion de los pacientes </h1>
      <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">No. Paciente</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido Paterno</th>
          <th scope="col">Apellido Materno</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">
            <%= link_to "Nuevo" , new_patient_path, class: 'btn btn-success '%>
          </th>
        </tr>
      </thead>
        <tbody id="patients">
          <%= render @patients %>
        </tbody>
    </table>





  </div>
</div>
</div>
